body {
  font-family: 'Poppins', sans-serif;
  background-color:rgb(255, 241, 220);
  margin-bottom: 5px;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2.2px;
  margin: 5px 0px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: rgb(58, 152, 185);
  font-weight: 100;
  font-size: 18px;
  margin: 0px 0px;s
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: rgb(58, 152, 185);
  font-weight: 100;
  text-align: center;
  font-size: 16px;
  margin: 0px 0px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  color: rgb(58, 152, 185);
  font-weight: 100;
  font-size: 16px;
  margin: 0px 0px;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0px;
  text-align: center;
  margin-bottom: 0px;
}
i {
  color: #E8D5C4;
  font-size: 30px;
}

i:hover {
  color: #3A98B9;
}

.container {
  margin: 5% 10%;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.cart_white {
  background-color: rgb(255, 255, 255);
  margin: 5% 5%;
  padding: 30px 40px;
  border-radius: 7px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1);
}

.image_circle {
  float: left;
  margin: 20px 45px;
  margin-left: 0px;
  width: 190px;
  border-radius: 50%;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.23);
}

.btn_blue {
  display: inline-block;
  background-color: rgb(58, 152, 185);
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 7px;
}

.btn_blue:hover {
  background-color: #EEEEEE;
  color: black;
}

.list-inline > li {
  display: inline-block;
  letter-spacing: 3.2px;
}
